@font-face {
  font-family: "myfontfamily";
  src: url("./ArcaMajora3-Bold.woff2") format("woff2"),
    url("./ArcaMajora3-Bold.woff") format("woff"),
    url("./ArcaMajora3-Bold.eot") format("embedded-opentype");
}

body {
  background: cornsilk;
  background-image: url("./dog.jpg");
  background-repeat: no-repeat;
  background-position: center;

  font-size: 5em;
  text-align: center;
  padding-top: 25%;
  font-family: sans-serif;
}

.pure-button {
  -webkit-border-radius: 1em;
  border-radius: 1em;
  font-family: "Raleway";
}
